html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  color: #fff;
  background-color: #000;
  background-image: url('../img/11136163936_d847a958bd_o.jpg');
  background-position: top center;
  background-size: cover;
}

.btn-default {
  color: #fff;
  background-color: #333;
  border-color: #000;

  &:hover {
    color: #fff;
    background-color: #3c3b3b;
    border-color: #000;
  }
}

.form-control {
  border-color: #000;
}
