$accent: #ccb747;
$primary: #333;

#root {
  color: #fff;
  background-color: #000;
  background-image: url('../img/11136163936_d847a958bd_o.jpg');
  background-position: top center;
  background-size: cover;
}
a {
  color: $accent;

  &:hover {
    color: lighten($accent, 30%);
  }
}
.btn-default {
  color: #fff;
  background-color: $primary;
  border-color: #000;

  &:hover {
    color: #fff;
    background-color: lighten($primary, 10%);
    border-color: darken($primary, 30%);
  }
}

button {
  background: transparent;
  border: 0px;
  color: $accent;
}

.form-control {
  border-color:  darken($primary, 30%);
}

/* header */

/* main */
.main-content-container {
  .panel {
    border-color: #000;
    background-color: rgba(148,145,145,0.5);

    .panel-heading {
      color: #fff;
      background-color: #333;
      border-color: #333;
    }

    .panel-body {
      border-top-color: #3e3e3e !important; //override bootstrap
    }
  }
}


/* shortcut */
.shortcut-container {
  background-color: #fff;
  border: 1px solid #000;

  .title {
    background-color: #000;
  }
}
