.shortcut-container {
  float: left;
  width: 120px;
  height: 120px;
  margin: 5px;
  overflow: hidden;

  .image {
    text-align: center;

    img{
      max-width: 100px;
      max-height: 100px;
    }
  }
}
